html,
body {
    margin: 0;
    font-family: sans-serif;
}

#app {
    width: 100vw;
    height: 100vh;
}

.text-updater-node {
    height: 50px;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 5px;
    background: white;
}

.text-updater-node label {
    display: block;
    color: #777;
    font-size: 12px;
}

.skill-node {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #4f46e5;
    border: 2px solid #312e81;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 12px;
}

.app-container {
    width: 100vw;
    height: 100vh;
}

.panel-content {
    padding-left: 25px;
    padding-right: 25px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}
